@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    background: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100vh;
    position: relative;
    font-size: 16px; /* Tamaño de fuente base aumentado */
    line-height: 1.6; /* Espaciado entre líneas mejorado */
}

/* ... (Estilos de estrellas y niebla) ... */

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

h1 {
    color: #c9a227;
    text-shadow: 0 0 20px #c9a227;
    font-size: 2.5em; /* Tamaño de fuente aumentado */
}

.profile-img {
    /* ... (Estilos de imagen de perfil) ... */
}

.glow-text {
    color: #fff;
    text-shadow: 0 0 10px #c9a227, 0 0 20px #c9a227;
    font-size: 1.2em; /* Tamaño de fuente aumentado */
}

.tech-container {
    margin-top: 40px;
    text-align: center;
}

.tech-title {
    color: #c9a227;
    text-shadow: 0 0 15px #c9a227;
    font-size: 2em; /* Tamaño de fuente aumentado */
}

.tech-list {
    /* ... (Estilos de lista de tecnologías) ... */
}

.tech-item {
    /* ... (Estilos de elementos de tecnología) ... */
}

@keyframes moveTech {
    /* ... (Animación de tecnologías) ... */
}

.gold-container {
    background: rgba(201, 162, 39, 0.15);
    border: 2px solid rgba(201, 162, 39, 0.5);
    border-radius: 15px;
    padding: 20px;
    margin: 30px auto;
    width: 90%;
    box-shadow: 0 0 20px rgba(201, 162, 39, 0.7);
}

/* Sección de Servicios */
.services-section h1 {
    margin-bottom: 30px;
}

.service-item {
    background: #121212;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.service-item:hover {
    transform: translateY(-5px);
}

.service-item i {
    font-size: 2em;
    color: #c9a227;
    margin-bottom: 10px;
}

.service-item h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.5em; /* Tamaño de fuente aumentado */
}

.service-item p {
    color: #aaa;
    margin-bottom: 15px;
}

.service-item ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.service-item li {
    background: rgba(201, 162, 39, 0.2);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    color: #c9a227;
}

.btn-more {
    position: absolute;
    top:
